html,body{
	height:100%;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
ul li{
	list-style:none;
}
#header{
	height:110px;
	width:100%;
	background:url(../image/register_header_bg.jpg) repeat-x left bottom;
}
#header .layout{
	height:100%;
	width:1210px;
	margin:0 auto;
	overflow:hidden;
}
.logo{
	height:50px;
	width:312px;
	margin-top:18px;
	margin-left:-6px;
	float:left;
}
.logo a img{
	float:left;
}
.logo h1{
	float:left;
	font-size:24px;
	color:#333;
	font-weight:normal;
	line-height:60px;
	margin-top:3px;
	margin-left:26px;
}
.login span{
	font-size:16px;
	color:#999;
	float:right;
	padding-top:55px;
	margin-right:2px;
}
.login a span{
	font-size:16px;
	color:#333;
	float:right;
	margin-left:3px;
}
/*页面中部*/
#container{
	height:733px;
	width:100%;
	overflow:hidden;
}
#container .layout{
	height:100%;
	width:1210px;
	margin:0 auto;
	position:relative;	
}
form{
	height:623px;
	width:400px;
	position:absolute;
	left:190px;
	top:50px;
}
/*输入框提示信息*/
.input_tip{
	height:27px;
	width:400px;
	overflow:hidden;
	padding-top:5px;
}
.item{
	height:52px;
	width:398px;
	border:1px solid #ddd; 
}
.item .item_label{
	height:52px;
	width:125px;
	line-height:52px;
	float:left;
}
.item label{
	line-height:52px;
	padding-left:20px;
	font-size:14px;
	color:#666;
}
.item input{
	height:52px;
	width:150px;
	border:none;
	outline:none;
	float:left;
	margin-left:7px; 

}
::-webkit-input-placeholder{
	font-size:14px;
	color:#d6ccd6;

}
/*中国 0086*/
.china_label{
	border-right:1px solid #ddd; 
}
.china_label span{
	display:block;
	height:6px;
	width:9px;
	background:url(../image/login_icons.png) no-repeat 104px 101px;
	background-size: 15px 15px;
	float:right;
}
/*邮箱验证*/
.email{
	display:block;
	height:16px;
	width:48px;
	font-size:12px;
	float:right;
	line-height:27px;
}
.email:hover{
	text-decoration:underline;
}
/*验证码*/
.picture img{
	height:46px;
	width:110px;
	float:left;
	margin:3px;
}
/*获取验证码按钮*/
.button{
	height:46px;
	width:110px;
	background:#f2f2f2;
	font-size:14px;
	color:#333;
	float:left;
	margin:3px;
	line-height:46px;
	text-align:center;
}

.check{
	height:21px;
	width:100%;
}
.checkbox{
	height:18px;
	width:18px;
	margin-bottom:1px;
	vertical-align:middle;
}
.check span{
	line-height:21px;
	font-size:12px;
}
.check a{
	line-height:21px;
	font-size:12px;
	color:#38f;
}
.check a:hover{
	text-decoration:underline;
}
.submit{
	height:54px;
	width:100%;
	background:#e22;
	font-size:16px; 
	color:white;
	border:none;
	outline:none;
}
/*右侧的公司与国际*/
.company{
	height:605px;
	width:280px;
	padding-left:90px;
	border-left:1px solid #e6e6e6;
	position:absolute;
	left:694px;
	top:50px;
}
/*公司*/
.conSon1{
	height:60px;
	width:160px;
	margin:auto auto 30px 30px;
	border-bottom:1px solid #ddd;
}
/*公司icon*/
.conSon1 a .conIcon{
	height:30px;
	width:30px;
	float:left;
	margin-right:10px;
	background:url(../image/register_icon.png) no-repeat 0 -50px;
}
/*公司文字*/
.conSon1 a .conFont{
	float:left;
	font-size:14px;
	color:#666;
	line-height:30px;
}
.conSon1 a:hover .conFont{
	text-decoration:underline;
	color:black;
}
/*国际*/
.conSon2{
	height:60px;
	width:210px;
	margin:auto auto 30px 30px;
	border-bottom:0px;
}
.conSon2 a .intIcon{
	height:30px;
	width:30px;
	float:left;
	margin-right:10px;
	background:url(../image/register_icon.png) no-repeat -50px -50px;
}
.conSon2 a .intFont{
	float:left;
	font-size:14px;
	color:#666;
	line-height:20px;
}
.conSon2 a:hover .intFont{
	color:black;
	font-weight:bold;
}
/*页面底部*/
#footer{
	height:117px;
	width:100%;
	border-top:1px solid #e6e6e6; 
}
#footer .layout{
	height:100%;
	width:1210px;
	margin:0 auto;
	overflow:hidden;
}
.footer_nav{
	height:18px;
	width:842px;
	line-height:18px;
	margin:30px auto 15px;
}
.footer_nav li{
	float: left;
	color:#999;
	font-size:12px;
}
.footer_nav li a{
	margin-left:10px;
	margin-right:10px;
	color:#999;
	font-size:12px;
}
.footer_nav li a:hover{
	text-decoration:underline;
}
.copyright{
	height:18px;
	margin:0 auto;
	text-align:center;
	line-height:18px;
	font-size:12px;
	color:#999;
}